body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: gray;
  color: rgb(11, 11, 11);
}

h1{
  color: rgb(179, 255, 0);
}

th, td {
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
